streamlit
streamlit-option-menu
streamlit-folium
gspread
oauth2client
pandas
geopy
folium
IPython
matplotlib
requests
seaborn
beautifulsoup4
opencv-python-headless
scikit-image
numpy
flake8
python-dotenv
pytesseract
oauth2client
scikit-image
Pillow
urllib3
IPython
lxml
google-api-python-client
openpyxl
matplotlib
plotly
google-auth
