streamlit
streamlit-option-menu
streamlit-folium
gspread
oauth2client
pandas
geopy
folium
IPython
matplotlib
requests
seaborn
beautifulsoup4
opencv-python-headless
scikit-image
numpy
streamlit-folium
flake8
python-dotenv
pytesseract
oauth2client
scikit-image
Pillow
