streamlit
streamlit-option-menu
streamlit-folium
gspread
oauth2client
pandas
geopy
folium
IPython
matplotlib
requests
seaborn
beautifulsoup4
opencv-python-headless
numpy
flake8
python-dotenv
pytesseract
scikit-image
pillow
urllib3
lxml
google-api-python-client
openpyxl
plotly
google-auth

